@model VoltairePower.Models.ChartData

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Authorized_Customers.cshtml";
}

<h1>Edit</h1>

<h4>ChartData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voltage" class="control-label"></label>
                <input asp-for="Voltage" class="form-control" />
                <span asp-validation-for="Voltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranslatedVoltage" class="control-label"></label>
                <input asp-for="TranslatedVoltage" class="form-control" />
                <span asp-validation-for="TranslatedVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

