@{
    ViewData["Title"] = "Volatire Systems Monitoring";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Volatire Systems Monitoring</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="home-page" id="body-container">
        <div class="text-center">
            <p class="b">Account Registration</p><br><br><br><br>

            <p class="c">Please Pick Your Preference</p><br><br><br><br>
            <a class="btn btn-primary" asp-controller="Customers" asp-action="Register">Sign Up</a>&emsp;&emsp;
            <a class="btn btn-primary" asp-controller="Logins" asp-action="Login">Login</a>
        </div>
    </div>
</body>
</html>