@model VoltairePower.Models.Weather.City
    @{
    Layout = "~/Views/Shared/_Layout_Authorized_Customers.cshtml";
    ViewData["Title"] = "Menu";
}




@*@{
        Layout = null;
        ViewData["Title"] = "MainPage";
    }

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Volatire Systems Monitoring</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <style>
            .sidenav {
                height: 80%;
                width: 250px;
                position: absolute;
                top: 85px;
                left: 0;
                background-color: grey;
                transition: 0.5s;
                padding-top: 5px;
                float: left;
            }

                .sidenav a {
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    font-size: 25px;
                    color: #000000;
                    display: block;
                    transition: 0.3s;
                }

                    .sidenav a:hover {
                        color: #f1f1f1;
                    }


            .mainData {
                margin-left: 255px;
            }

            footer {
                z-index: 1;
                background-color: white;
            }
        </style>

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="MainPage">
                        <img style="width: 200px; height: auto" src="/images/voltaire_power_logo.png">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="pb-3">
            <div class="sidenav">
                <img src="/images/background1.jpg" width="250" height="100" />
                <a href="#">SolarDetails</a>
                <a href="#">Profile</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            </div>
            <div class="mainData">
                HI hello
            </div>
        </main>

        <footer class="fixed-bottom footer text-muted">
            <div class="container">
                &copy; 2020 - VoltairePower - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

    </body>
    </html>*@
