@model VoltairePower.Models.Weather.City
@using Microsoft.AspNetCore.Http
@{
    Layout = "~/Views/Shared/_Layout_Authorized_Customers.cshtml";
    ViewData["Title"] = "Menu";
}

<link rel="stylesheet" href="~/css/styleMain.css" />



<body>
    <div class="home-page" id="body-container">
        <div class="text-center">
            <br><br>
            <br><br>
            <br><br>
            <h2 style="font-size:3vw;" class="c">Welcome To Your Solar Plant  @Context.Session.GetString("CustomerName") </h2><br><br>
        </div>
    </div>
</body>
<a href="C:\Users\Sherwin\Documents\GitHub\VoltairePower\Views\Home\MainPage.cshtml">C:\Users\Sherwin\Documents\GitHub\VoltairePower\Views\Home\MainPage.cshtml</a>

