body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: White;
    font-weight: bold;
    height: 100%
}


form-group {
    font-weight: bold;
    display: inline-block;
    float: left;
    display: inline-block;
    width: 210px;
    text-align: right;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #555;
    }


.button {
    background-color: #0000FF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    opacity: 1
}

    .button:hover {
        opacity: 1
    }