@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "View";
}

<h1>Confirmation</h1>

<hr />

<h4>@ViewBag.Message</h4>

<hr />

<p>
    Dear @Context.Session.GetString("CustomerName"),
    <br>
    Welcome to Voltaire solar panel monitoring system.
    We are diligently processing your registration for Solar Panel and profoundly
    looking forward to providing state of the Art service. We appreciate your patience.
<p>
    <br>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Log Out</a>
