@{
    ViewData["Title"] = "View";
}

<h1>Confirmation</h1>

<hr />

<h4>@ViewBag.Message</h4>

<hr />

<input class="btn btn-primary" type="button" asp-controller="Home" asp-action="MainPage">Main Page</input>