@model VoltairePower.Models.SolarSheetDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Authorized_Customers.cshtml";
}
    <link rel="stylesheet" href="~/css/StyleSolarInternal.css" />
<h4>Edit your solar sheet</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SolarSize" class="control-label"></label>
                <input asp-for="SolarSize" class="form-control" />
                <span asp-validation-for="SolarSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrayLocation" class="control-label"></label>
                <input asp-for="ArrayLocation" class="form-control" />
                <span asp-validation-for="ArrayLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrayLocationLong" class="control-label"></label>
                <input asp-for="ArrayLocationLong" class="form-control" />
                <span asp-validation-for="ArrayLocationLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                @Html.DropDownList("Type", new SelectList(Enum.GetValues(typeof(SolarPlantType))), "--Select Solar Plant Type--",
                      new { @class = "form-control" })
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>



            Please Click Here!
            <div class="container">
                <button type="button" class="button" data-toggle="collapse" data-target="#demo">Inverter Specifications</button>
                <div id="demo" class="collapse">
                    <div class="form-group">
                        <label asp-for="NumberofInverters" class="control-label"></label>
                        <input asp-for="NumberofInverters" class="form-control" />
                        <span asp-validation-for="NumberofInverters" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumberOfSolarStrings" class="control-label"></label>
                        <input asp-for="NumberOfSolarStrings" class="form-control" />
                        <span asp-validation-for="NumberOfSolarStrings" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="InverterSize" class="control-label"></label>
                        <input asp-for="InverterSize" class="form-control" />
                        <span asp-validation-for="InverterSize" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DcInput" class="control-label"></label>
                        <input asp-for="DcInput" class="form-control" />
                        <span asp-validation-for="DcInput" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxDc" class="control-label"></label>
                        <input asp-for="MaxDc" class="form-control" />
                        <span asp-validation-for="MaxDc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeakPwrTv" class="control-label"></label>
                        <input asp-for="PeakPwrTv" class="form-control" />
                        <span asp-validation-for="PeakPwrTv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeakInvEff" class="control-label"></label>
                        <input asp-for="PeakInvEff" class="form-control" />
                        <span asp-validation-for="PeakInvEff" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AcOpVolt" class="control-label"></label>
                        <input asp-for="AcOpVolt" class="form-control" />
                        <span asp-validation-for="AcOpVolt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AcVolt" class="control-label"></label>
                        <input asp-for="AcVolt" class="form-control" />
                        <span asp-validation-for="AcVolt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AcFreqNorminal" class="control-label"></label>
                        <input asp-for="AcFreqNorminal" class="form-control" />
                        <span asp-validation-for="AcFreqNorminal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxContinuousOC" class="control-label"></label>
                        <input asp-for="MaxContinuousOC" class="form-control" />
                        <span asp-validation-for="MaxContinuousOC" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PowerFact" class="control-label"></label>
                        <input asp-for="PowerFact" class="form-control" />
                        <span asp-validation-for="PowerFact" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <h2>Solar Module Specifications</h2>
            <div class="form-group">
                <label asp-for="SolarModuleMake" class="control-label"></label>
                <input asp-for="SolarModuleMake" class="form-control" />
                <span asp-validation-for="SolarModuleMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolarModulePwr" class="control-label"></label>
                <input asp-for="SolarModulePwr" class="form-control" />
                <span asp-validation-for="SolarModulePwr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleOpenShortCircuit" class="control-label"></label>
                <input asp-for="ModuleOpenShortCircuit" class="form-control" />
                <span asp-validation-for="ModuleOpenShortCircuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleShortCircuit" class="control-label"></label>
                <input asp-for="ModuleShortCircuit" class="form-control" />
                <span asp-validation-for="ModuleShortCircuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModulePerSeries" class="control-label"></label>
                <input asp-for="ModulePerSeries" class="form-control" />
                <span asp-validation-for="ModulePerSeries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleTempCoeff" class="control-label"></label>
                <input asp-for="ModuleTempCoeff" class="form-control" />
                <span asp-validation-for="ModuleTempCoeff" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WireGPerStr" class="control-label"></label>
                <input asp-for="WireGPerStr" class="form-control" />
                <span asp-validation-for="WireGPerStr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeofWire" class="control-label"></label>
                @Html.DropDownList("TypeofWire", new SelectList(Enum.GetValues(typeof(WireGauge))), "--Select Wire Gauge Type--",
                      new { @class = "form-control" })
                <span asp-validation-for="TypeofWire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthOfString" class="control-label"></label>
                <input asp-for="LengthOfString" class="form-control" />
                <span asp-validation-for="LengthOfString" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CustomerID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

