@page

@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Chart Examples</h1>

        <p>This ASP.NET Core Web Application demonstrates how to implments Charts in your Web Application.</p>


    </div>

    <div>

        <p>
            These examples use Google Charts.

            <a href="./BasicChart">Here you see a Basic Google Chart Example</a>
            
        </p>

        <p>Examples that gets the Data from a SQL Server Database:</p>

        <ul>
            <li><a href="./LineChart">Line Chart</a></li>
        </ul>


        <p>

            The most common way to use Google Charts is with simple JavaScript that you embed in your web page.

            You load some Google Chart libraries, list the data to be charted, select options to customize your chart, and finally create a chart object with an id that you choose.

            Then, later in the web page, you create a &lt;div&gt; tag with that id to display the Google Chart.

        </p>


        <p><a href="https://developers.google.com/chart" target="_blank">Google Charts</a></p>

    </div>
